#gameBoard {
    position: relative;
}

.settingsContainer {
    display: flex;
}

.board-size-settings {
    width: 150px;
    display: block;
}

.other-settings {
    display: block;
}

canvas {
    position: absolute;
}

#canvas {
    z-index: 1;
}

#generationCounter {
    z-index: 2;
}